<ng-container [ngSwitch]="imageStatus">

  <ng-container *ngSwitchCase="'loaded'">
    <mat-card class="external-card">
      <mat-card-header>
        <mat-card-title>URL: {{imageUrl}}</mat-card-title>
        <mat-card-subtitle>{{image?.mediaType}}</mat-card-subtitle>
      </mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-around stretch">
        <mat-card class="image-card">
          <mat-card-header>
            <mat-card-title>Raw Copy</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="imageUrlCopy">
        </mat-card>
        <mat-card class="image-card">
          <mat-card-header>
            <mat-card-title>Base64</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="imageUrlBase64">
        </mat-card>
      </div>
    </mat-card>
  </ng-container>

  <ng-container *ngSwitchCase="'loading'">
    <mat-card class="external-card">
      <mat-card-header>
        <mat-card-title>URL: {{imageUrl}}</mat-card-title>
        <mat-card-subtitle>Loading message, please wait!</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <mat-card class="external-card">
      <mat-card-header>
        <mat-card-title>URL: {{imageUrl}}</mat-card-title>
        <mat-card-subtitle>Error</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{errorMessage}}</mat-card-content>
    </mat-card>
  </ng-container>

</ng-container>